:root{
    --coloronegro:#000000;
    --big:#17a2b8;
}
body{
    background-color: var(--coloronegro);
    font-family:'Antonio', sans-serif;

    
}


/* ancho logo*/
.svg-logo{
    width: 3rem;
}

/* estilo del ancho del nav*/
.nav-width{
    width: 90%;

}

/* largo de la imagen*/

.imagencarrusel{
    height:58rem;
}

.container-xxl{
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    
}

.navbar{
    background-color:var(--big);
}

.m-quienesomos{
    padding-top:1.5rem;

}

.m-card{
    padding-top:1.5rem;

}

.m-contacto{
    padding-top:4rem;

}





/* fondos de las card de quienes somos */

.bg-negro{
    background-color:var(--coloronegro);
}

/* borde de la car de quienes somos*/
.sin-borde{
        border: none;
}

.card-container{
    min-height: 30rem;
}

/* estilo del alto de las imanges de las card destacados*/
.img-card-width{
    height: 10rem;
}

.logo-footer ,.icon-footer, .icon-grup{
    display: inline-block;
}

/* ancho de los iconoa dw footwe*/
.icon-width{
    font-size: 2rem;
    
}

.icon-grup {
    padding-left:45rem;
}

.icon-footer{
    margin-left: 1rem;
}





/* se elimina al section de quienes somos*/
@media screen and (max-width: 570px){

.quieneSomos{
    display:none;    
}
}

@media screen and (max-width: 570px){

.imagencarrusel{
        width: 5rem;  
        height: 30rem;
    
    }
    }

    @media screen and (max-width: 570px){

        .carousel-control-prev{
            padding-left: 1rem;
            
            
            }
            }


@media screen and (max-width: 570px){

.icon-width{
        font-size: 1rem; 
}
}

@media screen and (max-width: 570px){

.logo-footer{
                font-size: 1rem; 

}
}

@media screen and (max-width: 570px){

    .sinmargen{
    margin:none;
    
    }
    }
    
    @media screen and (max-width: 570px){

        .padding-right{
    padding: 12px;

        
}
}

@media screen and (max-width: 570px){

    .icon-grup{
        padding-left:1rem
    }
}

@media screen and (max-width: 570px){

    .nav-quienes{
        display: none;
    }
}



@media screen and (max-width: 1201px){

    .icon-grup{
        padding-left:1rem
    }
}

@media only screen and (min-width: 600px) {
    .card img:hover{
        transform: scale(1.03);
    
    }
    }


    @media screen and (max-width: 1082px){

        .card-container{
            min-height: 37rem;
    }
    }

    @media screen and (max-width: 1015px){

        .card-container{
            min-height: 38rem;
    }
    }

    @media screen and (max-width: 1154px){

        .card-container{
            min-height: 39rem;
    }
    }

    @media screen and (max-width: 570px){

        .card-container{
            min-height: 10rem;
    }
    }

    @media screen and (max-width: 1157px){

        .card-container{
            min-height: 35rem;
    }
    }

    @media screen and (max-width: 1186px){

        .card-container{
            min-height: 35rem;
    }
    }

    @media screen and (max-width: 1197px){

        .card-container{
            min-height: 36rem;
    }
    }

    @media screen and (max-width: 375px){

        .card-container{
            min-height: 10rem;
    }
    }



