:root{
    --coloronegro:#000000;
    --big:#17a2b8;
}
body{
    background-color: var(--coloronegro);
    font-family:'Antonio', sans-serif;
    
}


/* ancho logo*/
.svg-logo{
    width: 3rem;
}

/* estilo del ancho del nav*/
.nav-width{
    width: 90%;

}

.navbar{
    background-color:transparent;
}


/* ancho de de la imagen del carrusel */
.imagencarrusel{
    height: 80rem;

/* fondos de las card de quienes somos */
}
.bg-negro{
    background-color:var(--coloronegro);
}

/* borde de la car de quienes somos*/
.sin-borde{
        border: none;
}



/* estilo del alto de las imanges de las car destacados*/
.img-card-width{
    height: 15rem;
}

.logo-footer ,.icon-footer, .icon-grup{
    display: inline-block;
}

/* ancho de los iconoa dw footwe*/
.icon-width{
    font-size: 2rem;
    
}

.icon-grup {
    padding-left:45rem;
}

.icon-footer{
    margin-left: 1rem;
}





/* se elimina al section de quienes somos*/
@media screen and (max-width: 570px){

.quieneSomos{
    display:none;    
}
}

@media screen and (max-width: 570px){

.imagencarrusel{
        width: 20rem;  
        height: 20rem; 
    }
    }

@media screen and (max-width: 570px){

.icon-width{
        font-size: 1rem; 
}
}

@media screen and (max-width: 570px){

.logo-footer{
                font-size: 1rem; 

}
}

@media screen and (max-width: 570px){

    .sinmargen{
    margin:none;
    
    }
    }
    
    @media screen and (max-width: 570px){

        .padding-right{
    padding: 12px;

        
}
}

@media screen and (max-width: 570px){

    .icon-grup{
        padding-left:1rem
    }
}


@media screen and (max-width: 1201px){

    .icon-grup{
        padding-left:1rem
    }
}

@media only screen and (min-width: 600px) {
    .card img:hover{
        transform: scale(1.03);
    
    }
    }








